{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class='account_container form'>
    {% comment %} <div id='form_cont_image'> {% endcomment %}
        {% comment %} <img src="{% static '\news\images\shecodes_logo.png'%}" alt="logo"  width="150" height="150" > {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div id='form_cont_form'> {% endcomment %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div id='form_cont_login'> {% endcomment %}
        <button type="submit" class="add_story_button">Login</button>
    {% comment %} </div> {% endcomment %}
        </form>
    {% comment %} </div> {% endcomment %}
</div>

{% endblock content %}

