    <!DOCTYPE html>
    {% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}
    
    {% block content %}
    <div id='user_login'>
        {% if user.is_authenticated %}
            <p>Welcome back {{ user.username }}! →<a href="{% url 'news:newStory' %}" id="add_story_button">Write a new story</a></p>
        {% else %}
            <a href="{% url 'login' %}" id="add_story_button">Login</a>
        {% endif %}
    </div>
    
    <div id="headline">
        <h2>Latest News</h2>
    </div>

    <div id="latest-stories">
        {% comment %} <div class="story-card"> {% endcomment %}
            {% if latest_stories %}
                {% for story in latest_stories %}
                    {% include "./storycard.html" with story=story position=forloop.counter%}
                    {% comment %} <p>{{ story.title }}</p> {% endcomment %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
    </div>

    <div id="headline">
        <h2>Community News</h2>
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storycard.html" with story=story %}
                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> 

    {% endblock %}

