{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}
<h2>My Stories</h2>
<div id="latest-stories">
    {% if all_stories %}
        {% for story in all_stories %}
        {% include "news/storyCard.html" with story=story position=forloop.counter%}
        {% endfor %}
    {% else %}
        <li>No stories yet.</li>
    {% endif %}
</div>
{% endblock %}

  {% comment %} <div id="latest-stories">
        <div class="story-card">
            {% if latest_stories %}
                {% for story in latest_stories %}
                    {% include "./storycard.html" with story=story position=forloop.counter%}
                    <p>{{ story.title }}</p>
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
    </div> {% endcomment %}